<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "HomeAdmin", new { area = "Admin" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "HomeAdmin", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "HomeAdmin", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "HomeAdmin", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Account", "Index", "Users", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Department", "Index", "Departments", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Role", "Index", "Roles", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Submisson", "Index", "Topics", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Staff Submisson", "Index", "StaffTopics", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Statistics", "Index", "Statistics", new { area = "Admin" }, new { @class = "nav-link" })</li>
                     <li>@Html.ActionLink("Rating idea", "Index", "ListIdeas", new { area = "Admin" }, new { @class = "nav-link" })</li>

                    <li>
                        @{ var admin = (WebApplication2.Models.User)HttpContext.Current.Session["user"];
                            @admin.Fullname }
                    </li>

                    <li>
                        <a href="~/Home/Logout"> LOG OUT </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
