
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<WebApplication2.Models.Topic>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    // @model IEnumerable<WebApplication2.Models.Topic>
}
<h2>Index</h2>





<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            ClosureDate
        </th>
        <th>
            FinalClosureDate
        </th>
        <th></th>
    </tr>

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            var i = 1;
            <tr>
                <td>@item.Name</td>
                <td>@item.ClosureDate</td>
                <td>@item.FinalClosureDate</td>
                <td>
                    @Html.ActionLink("View Idea", "Index", "Ideas", new { id = item.Id, name = item.Name, closuredate = item.ClosureDate, finalclosuredate = item.FinalClosureDate }, new { @class = "nav-link" })
                    <a href="@Url.Action("ExportToExcel", "StaffTopics", new {id = item.Id })" >Export Excel</a>   
                </td>
            </tr>
          
        }
    }




</table>

<br/>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = 5}))














@* @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalClosureDate)
            </td>
            <td>
                @{
                    if (item.FinalClosureDate <= DateTime.Now)
                    {

                    }
                    else
                    {
                        @Html.ActionLink("View Idea", "Index", "Ideas", new { id = item.Id, name = item.Name, closuredate = item.ClosureDate, finalclosuredate = item.FinalClosureDate }, new { @class = "nav-link" })
                    }
                }

            </td>
        </tr>
    }*@