
@model IEnumerable<WebApplication2.Models.Idea>
@using System.Linq;
@using System.Net;
@using System.Web;
@using WebApplication2.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Default/Views/Shared/_LayoutDefault.cshtml";
    var admin = (WebApplication2.Models.User)HttpContext.Current.Session["user"];
    IdeaManagementEntities db = new IdeaManagementEntities();
}

<h2>Index</h2>

@{
    if (@ViewBag.Topic.FinalClosureDate <= DateTime.Now)
    {

    }
    else
    {
        <p>
            @Html.ActionLink("Create New", "Create", new { id = ViewBag.Topic.Id, name = ViewBag.Topic.Name, closureDate = ViewBag.Topic.ClosureDate, finalClosureDate = ViewBag.Topic.FinalClosureDate, userId = admin.Id })
        </p>
    }


}



<dl class="dl-horizontal">
    <dt>
        @ViewBag.Topic.Name
    </dt>



    <dt>
        @ViewBag.Topic.ClosureDate

    </dt>



    <dt>
        @ViewBag.Topic.FinalClosureDate
    </dt>



</dl>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            View
        </th>
        <th>
            Like
        </th>
        <th>
            DisLike
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @{
                    var viewCount = (from Item in db.Views
                                     where Item.IdeaId == item.Id
                                     select Item).Count();
                    ViewBag.ViewCount = viewCount;
                }
                @ViewBag.ViewCount
            </td>
            <td>
                @{
                    var reactCount = (from Item in db.Reacts
                                      where Item.IdeaId == item.Id
                                      select Item.React1).Sum();
                    if (reactCount == null)
                    {
                        reactCount = 0;
                    }
                    ViewBag.reactCount = reactCount;

                    if (@ViewBag.reactCount < 0)
                    {
                        <span> 0 </span>
                    }
                    else
                    {
                        @ViewBag.reactCount
                    }
                }
            </td>
            <td>
                @{
                    if (@ViewBag.reactCount > 0)
                    {
                        <span> 0 </span>
                    }
                    else
                    {
                        int reactDisLike = ViewBag.reactCount;
                        reactDisLike = reactDisLike * -1;
                        ViewBag.ReactDisLike = reactDisLike;

                        @ViewBag.ReactDisLike
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id, TopicId = ViewBag.Topic.Id, name = ViewBag.Topic.Name, closureDate = ViewBag.Topic.ClosureDate, finalClosureDate = ViewBag.Topic.FinalClosureDate, userId = admin.Id }) |
            </td>
        </tr>
    }

</table>
