@model WebApplication2.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Default/Views/Shared/_LayoutDefault.cshtml";
    var account = (WebApplication2.Models.User)HttpContext.Current.Session["user"];
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            full name
        </dt>

        <dd>
            @account.Fullname
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @account.Email
        </dd>

        <dt>
            Password
        </dt>

        <dd>
           @account.Password
        </dd>

        <dt>
           Department Name
        </dt>

        <dd>
            @account.DepartmentId
        </dd>

        <dt>
           Role Name
        </dt>

        <dd>
            @account.RoleId
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = account.Id }) |
</p>
